/*-- scss:defaults --*/
  // fonts
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family-sans-serif: "Oswald", Oswald;

h1 {
    color: #CA225E;
    font-size: 41px !important;
}



$font-family-sans-serif: "Noto Sans", Noto Sans;

h2 {
    color: #CA225E;
    font-size: 41px !important;
}

