/*-- scss:defaults --*/
$body-color: #512888;

/*-- scss:rules --*/
.custombox {
  background-color: pink;
}


  .navbar {
    background: linear-gradient(to right, #000428, #004e92); 
                                position: fixed;
                                width: 100%;
                                }

.navbar a {
  color:  white !important;
}

